<% if @libraries.count == 0 %>
  <h2> You're not a member of any libraries yet. You should join one! </h3>
<% else %>
  <h2> You are a member of the following libraries: </h1>
  <% @libraries.each do |library| %>
    <div>
      <h3><%= library.name %></h3>
      <%= button_to "Learn More About This Library", library_path(library), method: :get %>

      <!-- <% if current_user %>
        <%= button_to "Join", library_users_path(library) %>
      <% end %> -->
      </h3>
    </div>
    <br>
  <% end %>
<% end %>
<%= button_to "Join a Library!", libraries_path, method: :get%>
