<% @libraries.each do |library| %>
  <div>
    <h2>Name:<%= library.name %>
    <h4>Floor Count: <%= library.floor_count %>
    <h4>Floor Area: <%= library.floor_area %>
    <% if current_user %>
        <%= button_to "Join", library_users_path(library) %>
    <% end %>
  </div>
  <br>
<% end %>
